<div class="form-container">
    <h2>Edit User</h2>
    <form (ngSubmit)="updateUser()">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" name="name" id="name" required>

        <label for="position">Position</label>
        <input type="text" [(ngModel)]="user.position" name="position" id="position" required>

        <label for="city">City</label>
        <input type="text" [(ngModel)]="user.city" name="city" id="city" required>

        <button type="submit">Update</button>
    </form>
</div>
